@model Presence.Models.Departement

@{
    ViewData["Title"] = "Department Details";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-info text-white text-center">
                    <h3>Department Details</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <!-- Department Name -->
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.NomDepartement)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.NomDepartement)
                        </dd>

                        <!-- Organisation Name -->
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Organisation)
                        </dt>
                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Organisation.Nom_Organisation)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-info text-white">
                        <i class="bi bi-pencil"></i> Edit
                    </a>
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
